.User {
  padding: 1rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.User-movies {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.User-poster {
  width: 110px;
  height: 165px;
  margin: 0 0.5em;
}

.User-poster-wrapper {
  padding: 8px;
}

.User-playlist {
  margin-top: 20px;
}
