.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 0.5%;
  font-size: 70px;
  font-weight: 600;
  font-family: "Asap", "Trebuchet MS";
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
} 
