.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 0.5%;
  font-size: 70px;
  font-weight: 600;
  font-family: "Asap", "Trebuchet MS";
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.profile {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout {
  margin-left: '20px';
}

.userName {
  display: flex;
  align-items: center;
  text-align: center;
}


