
.gallarymovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pageTitle {
    color: rgb(187, 119, 30);
    margin: 2%
}

/*Search*/
.input {
    width: 70%;
    padding: 10px;
    margin-left: 18%;
    left:50%;

}
.buttons {
    display: flex;
    margin-top: 20px;
    margin-left:35%;
    flex-wrap: wrap;
}

#dropdown-basic-button {
    /*margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 40%;*/
}
#dropdown-basic-button1 {
    text-align: center;
    margin-left: 40%;
}

 